<div class="form-container">

<mat-form-field appearance="outline">
  <mat-label>Nom du medicament</mat-label>
  <input matInput placeholder="Nom du médicament"/>
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label> Catégories</mat-label>
  <input matInput placeholder="Catégories">
</mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Description</mat-label>
  <input matInput placeholder="Description">
  </mat-form-field>

  <mat-form-field appearance="outline">
  <mat-label>Quantité</mat-label>
  <input matInput placeholder="Quantité">
</mat-form-field>

  <button class="btn btn-lg btn-primary btn-block" type="submit">Ajouter</button>
  <button class="btn btn-outline-secondary btn-block" type="button" routerLink="signUp">Annuler</button>

</div>






