/* You can add global styles to this file, and also import other style files */

/*@import '~@angular/material/theming';*/
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

:root{
  --first-color: #4070F4;
  --second-color: #0E2431;
}


:root{
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

:root{
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@media screen and (min-width: 768px) {
:root{
  --big-font-size: 3.5rem;
  --h2-font-size: 2rem;
  --normal-font-size: 1rem;
}
}
a {
  text-decoration: none;
}

h1,h2,h3{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
margin: var();
}

html{
  scroll-behavior: smooth;
}
